html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

*::selection {
    color:#000;
}
.width-wrap{
    max-width: 960px;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    margin-bottom: 3em;
    border-style: solid;
    border-top: 0;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: #C05076;
    margin:auto
}
hr {
    width: 50vw;
    max-width: 890px;
    min-width: 300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: none;
    border-style: dotted;
    border-bottom: 3px;
    border-color: violet;
}
body {
    background-color: #AC365E;
    color:#ffffff;
    font-family: 'BioRhyme', serif;
    line-height: 1.3;
}
header#top nav ul{
    margin-top: 0;
}
header#top{
    
    border-top: 4px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.3);

}
header#top nav{
    border-bottom: 1px;
    border-bottom: dotted;
    border-color: violet;
}
header#top nav ul{
    margin:0;
    padding:0;

}
h1, h2, h3 {
    color:bisque;
}
a:link{
    color: #b8b8b8;
    text-decoration: none;
}
a:link:hover{
    text-decoration: underline;
}

header#top nav ul li a:link{
    color:#2C000F;
    border-top: 4px;
    border-top: solid;
    border-color: rgba(0,0,0,0);
    display: inline-flex;
    padding-top: 1em;
    padding-bottom: .5em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}
header#top nav ul li a:link:hover{
    border-color: rgba(35,15,15,1)
}

header#top nav ul li{
    display: inline;
    padding-right: 1em;
}
header#top nav ul li a:visited{
    color:#C2A718;
}
td{
    padding:0.3em 1em 0.3em 1em;
}
th{
    padding:0.3em 1em 0.3em 1em;
    background-color: rgba(0, 0, 0, 0.2);

}
thead{
    background-color: rgba(0, 0, 0, 0.2);
}
tfoot{
    background-color: rgba(0, 0, 0, 0.2);
}
.eventable{
    background-color:rgba(0, 0, 0, 0.15)
}
label{display: block;}
fieldset ul li label {
    display: inline;
}
button[type=submit]{
    border:none;
    padding: 1em 3em 1em 3em;
    color:white;
    background-color: rgb(189, 41, 144);
}
dl dt::after{
    content: ":";
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Space Mono', monospace;
}
ol{
    list-style-type: upper-roman;
}
iframe{
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}
fieldset ul{
    padding: 0;
}
fieldset ul li{
    list-style-type: none;
}
h1{
    
    background: rgb(2,0,36);
    color: #ffe4c4a5;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(187,20,83,1) 35%, rgba(192,80,118,1) 100%);
    background-clip: text;
}
.bio{
    column-count: 3;
    column-gap: 2em;
}
.bio table{
    column-span: all;
    margin-top: 1em;
    border-collapse: collapse;
    caption-side: bottom;
}
img{
    max-width: 100%;
}
.bio a img{
    padding: 2%;
    background-color: white;
    box-shadow: 5px 10px;
}
footer{
    font-size: 75%;
    text-align: center;
}
a[href="#top"]{
    text-shadow: 2px 2px violet;
}
a[href="#top"]:hover{
    text-decoration: none;
}
